.form_area {
    width: 350px;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;
    padding: 20px;
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.message_area {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

.header {
    width: 450px;
    height: 40px;
    font-size: x-large;
    border-bottom: 1px solid lightgray;
    word-wrap: break-word;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-left: 10px;
}

.header svg {
    height: 20px;
    width: 20px;
}

.exit_button {
    height: 40px;
    width: 40px;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 0;
    font-weight: 900;
}

.exit_button:hover {
    background-color: red;
    color: white;
}

